@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/leaflet/dist/leaflet.css');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Montserrat', 'Urbanist', sans-serif;
}